@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h5>@ViewData["message"]</h5>

<address>
    Thiago Amorim<br />
    São Paulo, BR 97635-2771<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Autor:</strong> <a href="mailto:ttthiago.amorim@gmail.com">ttthiago.amorim@gmail.com</a><br />
    <strong>Contratação:</strong> <a href="mailto:thiago.oliveira135@fatec.sp.gov.br">thiago.oliveira135@fatec.sp.gov.br</a>
</address>
