@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"]</h2>
<h5>@ViewData["message"]</h5>


<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>










<h2>Pagina em construção</h2>